doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document

    link(rel="stylesheet" href="/css/bootstrap.min.css") 
    link(rel="stylesheet" href="/css/styleHome.css")


  body 
    include includes/navbar.pug 

    .container-fluid.pro.categore
        
      .label  Watches
      .row
        .col.col-12.col-md-6.col-lg-4.col-xl-3
          .card.cate
            .head Ball
            img.card-img-top( alt='...' src="/images/ball.jpg")
            form(action="/beautyPicks" method="get") 
              button.btn(type="submit" style="color:#0d6efd;font-size:14px") Shop Now
        .col.col-12.col-md-6.col-lg-4.col-xl-3
          .card.cate
            .head Invicta
            img.card-img-top( alt='...' src="/images/inv.jpg")
            form(action="/invicta" method="get") 
              button.btn(type="submit" style="color:#0d6efd;font-size:14px") Shop Now
        .col.col-12.col-md-6.col-lg-4.col-xl-3
          .card.cate
            .head Alpina
            img.card-img-top( alt='...' src="/images/alpina.jpg")
            form(action="/alpina" method="get") 
              button.btn(type="submit" style="color:#0d6efd;font-size:14px") Shop Now
        .col.col-12.col-md-6.col-lg-4.col-xl-3
          .card.cate
            .head Citizen
            img.card-img-top( alt='...' src="/images/citizen.jpg")
            form(action="/citizen" method="get") 
              button.btn(type="submit" style="color:#0d6efd;font-size:14px") Shop Now
        .col.col-12.col-md-6.col-lg-4.col-xl-3
          .card.cate
            .head Breed
            img.card-img-top( alt='...' src="/images/bread.jpg")
            form(action="/breed" method="get")
              button.btn(type="submit" style="color:#0d6efd;font-size:14px") Shop Now
        .col.col-12.col-md-6.col-lg-4.col-xl-3
          .card.cate
            .head Bell & Ross
            img.card-img-top( alt='...' src="/images/bill.jpg")
            form(action="/bell&ross" method="get")
              button.btn(type="submit" style="color:#0d6efd;font-size:14px") Shop Now
        .col.col-12.col-md-6.col-lg-4.col-xl-3
          .card.cate
            .head Apple
            img.card-img-top( alt='...' src="/images/apple.jpg")
            form(action="/apple" method="get")  
              button.btn(type="submit" style="color:#0d6efd;font-size:14px") Shop Now
        .col.col-12.col-md-6.col-lg-4.col-xl-3
          .card.cate
            .head Tommy Hilfiger
            img.card-img-top( alt='...' src="/images/tom.jpg ")
            form(action="/tommyhilfiger" method="get")
              button.btn(type="submit" style="color:#0d6efd;font-size:14px") Shop Now



    footer
      p.text How do you see our site
      form
        input(type='text' placeholder="Write us your opinion")
        input(type='submit' value=yon)
      ul.list-footer
        li
          a(href='#') About
        li
          a(href='#') Blog
        li
          a(href='#') Delivery
        li
          a(href='#') Jobs
        li
          a(href='#') Contact
        li
          a(href='#') Help
      .social-media
        a(href='#')
          i.fab.fa-instagram
        a(href='#')
          i.fab.fa-twitter
        a(href='#')
          i.fab.fa-linkedin
        a(href='#')
          i.fab.fa-facebook
        a(href='#')
          i.fab.fa-youtube
      p.copyrights &copy; 2020 DeltatyCode




//-
  .container.pro
    .row
      - for(let product of prod)
        .col.col-12.col-md-6.col-lg-4.col-xl-3
          .card(style='width: 15rem;hei ght:20rem')
            img.card-img-top( alt='...' style="height:50%" src="/images/" + product.image)
            .card-body
              h5.card-title 
                a(href="/product/"+ product._id,style="background-color:gray;color:white;width:100%;height:50px") #{product.Name} 

                p price: #{product.Price}


-//


  script(src="/js/popper.js")
  script(src="/js/bootstrap.min.js")
  script(src="/js/myJs.js")

